.nav-button {
    padding: 15px 20px;
    background-color: #fdfdfd;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1rem;
    border: 2px solid transparent;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

.nav-button:hover {
    background-color: #faa94a;
    transform: translateY(-3px) scale(1.05);
    border: 2px solid #000000;
}

.nav-button:active {
    transform: translateY(0) scale(1);
    box-shadow: none;
}

.button-top-left{
    width: 70px; 
    border-radius: 25px;
    background-color: #faa94a;
    color:#000000;
}

.button-top-right{
    width: 100px; 
    border-radius: 25px;
    background-color: #fdfdfd;
    color:#000000;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-front {
  background-color: #bbb;
  color: black;
}

.flip-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}